
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button, input {
  border: 0;
}

.bb {
  border: 1px solid red;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
}
a {
  background-color: transparent;
  text-decoration: none;
  color: white;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}



.header {
  width: 100%;
  height: 152px;
}

.rectangle-1 {
  width: 100%;
  height: 70px;

  display: flex;
  align-items: center;
  justify-content: center;
  background: #2D2D2D;
}

.rectangle-2 {
  width: 100%;
  height: 82px;
  background: #FFFFFF;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
}


/*хеадер вверху*/

.header__container-above {
  width: 100%;

  height: 36px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;

}

.container-above__text {
  width: 272px;
  height: 32px;
}

.container-above__text > p {
  font-size: 14px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.7);
}

.container-above__search {
  width: 382px;
  height: 25px;
  position: relative;
}

.container-above__search::after {
  content: '';
  background: #A8A8A8;;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  width: 100%;
  height: 1px;
  position: absolute;
}

.search__form {
  width: 366px;
  height: 100%;
  display: flex;
  background-color: #2D2D2D;
}


.search__form--input {
  width: 100%;
  height: 100%;
  font-size: 14px;
  line-height: 16px;
  border: 0;
  color: #FFFFFF;
  outline: none;
  background-color: #2D2D2D;
  opacity: 0.6;

}

.container-above__button {
  width: 164px;
  height: 100%;
}

.header-button {
  width: 100%;
  height: 100%;

}

.header-button > button {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  background: linear-gradient(115.84deg, #E32A23 15.89%, #FF7100 83.68%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-button > button > img {
  margin-right: 7px;
}


.container-above__links {
  width: 307px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.menu > li {
  display: inline-block;
  position: relative;
  padding-bottom: 5px;
  
}
.hidenPhones {
  background-color: #2D2D2D;
  padding: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 10;
  display: none;
}
.hidenPhones li {
  padding-bottom: 5px;
}
.numbers ul li:hover .hidenPhones {
  padding: 0;
  display: block;
}



.messegers {
  height: 100%;
  width: 105px;
  display: flex;
  align-items: center;
}

.messegers > div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


/*container-below*/


.header__container-below {
  width: 100%;
  height: 67px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;

}

.container-below__logo {
  height: 100%;
  min-width: 131px;
  position: relative;
}

.container-below__logo > img {
  position: absolute;
}


.container-below__nav {
  width: 1026px;
  height: 56px;
  display: flex;
}

.container__nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container__nav--link > ul {
  width: 733px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.container__nav--link > ul > li > a {
  font-size: 18px;
  line-height: 21px;
  color: #2D2D2D;
}


.nav__button {
  width: 120px;
  height: 46px;
  position: relative;
}

.nav-button__container {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background: #F7F8FA;
  display: flex;
  align-self: center;
  justify-content: space-evenly;
}

.nav-button__container > button {
  background: #F7F8FA;
}

/*nav search*/

.nav__search {
  display: none;
  width: 250px;
  height: 25px;
  position: relative;
}

.nav__search::after {
  content: "";
  width: 100%;
  height: 1px;
  background: #2D2D2D;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  position: absolute;
}

.nav__search--form {
  width: 245px;
  height: 17px;
  display: flex;
}

.nav__search--input {
  font-size: 14px;
  line-height: 16px;
  width: 100%;
  height: 100%;
  color: #2D2D2D;

  opacity: 0.6;
  outline: none;
}


/*burger */


.burger {
  display: none;
}

.search__icon {
  display: none;
}

@media (min-width: 1200px) {
  .header__container-below {
    max-width: 1339px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .header__container-above {
    max-width: 1332px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 1200px) and (min-width: 768px) {
  .header {
    width: 100%;
    height: 138px;
  }
  .rectangle-1 {
    height: 56px;
  }

  .rectangle-2 {
    height: 82px;
  }

  .container-below__nav {
    width: 512px;
  }

  .header__container-above {
    width: 700px;

  }

  .header__container-below {
    width: 699px;

    height: 67px;
  }

  .container-above__search {
    display: none;
  }

  .container-above__button {
    display: none;
  }

  .container__nav--link {
    display: none;
  }

  .nav__search {
    display: block;
  }

  .burger {
    display: block;
  }
}


@media (max-width: 767px) {
  .header {
    width: 100%;
    height: 90px;
  }
  .rectangle-1 {
    height: 40px;
  }

  .rectangle-2 {
    height: 50px;
    align-items: flex-end
  }

  .header__container-above {
    max-width: 310px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .container-above__text {
    display: none;
  }

  .container-above__search {
    display: none;
  }

  .container-above__button {
    display: none;
  }

  /*below*/
  .header__container-below {
    max-width: 310px;
    padding-left: 10px;
    padding-right: 10px;
    height: 41.65px;
  }

  .container__nav--link {
    display: none;
  }


  .nav__button {
    display: none;
  }

  .container__nav {
    justify-content: flex-end;
  }

  .search__icon {
    display: block;
    margin-right: 15px;
  }

  .burger {
    display: block;
  }

  .nav__search {
    display: none;
  }

  .nav__button {
    display: none;
  }

}

/* section under the slider*/

.section-offer {
  background: #F7F7F7;
  display: flex;
  align-items: center;
}

.offers-container {
  width: 1313px;
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 40px;

}

.offers-container__offer {
  width: 265px;
  height: 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.offers-container__offer-text {
  height: 76%;
  width: 77.36%;
  color: #2D2D2D;
  line-height: 19px;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-family: Roboto;
}

.offers-container__offer-text > span {
  color: red;
}

.offers-container__offer:last-child {
  width: 269px;
  height: 63px;
}

.offers-container__offer:last-child > img {
  width: 50px;
  height: 50px;
}

.offers-container__offer > img {
  width: 18.87%;
  height: 100%;
}

.offers-container__offer > div {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #2D2D2D;
  height: 100%;
  width: 76.21%;
  display: flex;
  align-items: center;
}


.offers-container__offer > div > p > .red {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FF0000;
}

.offers-container__offer > div > p > .strong {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #2D2D2D;
}

@media(min-width: 1200px){
 .section-offer{
   width: 100%;
    height: 130px;
 }

 .offers-container{
    margin-top: 40px;
 }
}

@media (max-width: 1200px) and (min-width: 768px){
  .section-offer{
    width: 100%;
     height: 200px;
     align-items: center;
  }

  .offers-container{
    width: 617px;
    height: 155px;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0px;
  }
}

/*chapter*/

.container{
  width: 100%;
  position: relative;
  height: 100%;
  margin-top: 83px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  /* margin: 0 auto; */
  justify-content: center;
}

.container::before{
content:"";
width: 100%;
height: 0px;
border: 1px solid red;

}


.chapter-text{
  position: absolute;
  min-width: 293px;
  max-width: 1313px;
  width: 100%;
}

.white{
  max-width: 331px;
  background-color: white;
  width: max-content;
}

.white> p{
  font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 35px;

color: #2D2D2D
}


@media (max-width: 1200px) and (min-width: 768px){

  .chapter-text{
    max-width: 617px;
  }
}

/*slider2*/

.hover-button {
  background: linear-gradient(115.84deg, #E32A23 15.89%, #FF7100 83.68%);
  border-radius: 50px;
  margin: 0 0;
  border: 0px;
  color: #FFFFFF;
  padding: 10px 20px;
}


.slider-s2{
  width: 100%;
  height: 516px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.swiper-container {
  width: 100%;
  height: 100%;
}


.slider-second .swiper-button-next::after,
.slider-second .swiper-button-prev::after {
  font-size: 35px;
}


.slider-second {
  max-width: 1320px;
  position: relative;
  margin: 0 auto;
  padding: 0 50px;
}
.swiper-wrapper.second {
  padding: 20px 0;
}
.swiper-container.second {
  background-color: #FFFFFF;
  padding: 0 5px;
  position: static;
}
.slider-second .swiper-button-next {
  color: #FE6E01;
  right: 0;
  top: 45%;
}
.slider-second .swiper-button-prev {
  color: #FE6E01;
  left: 10px;
  top: 45%;
}
.shopping-cart {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}
.hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.hover-div {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 55%;
  background-color: rgba(230, 230, 230,0.7);
  z-index: 1;
}
.product-card {
  padding: 20px;
  font-weight: 700;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  transition: all 0.2s linear;
  min-height: 360px;
}
.product-card p {
  margin: 0;
}
.product-card:hover .hover-div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-card:hover {
  transform: translateY(-2px);
}
.product-card__link {
  display: flex;
  justify-content: center;
}
.red {
  color: #E32A23;
  margin: 0;
}
.del {
  margin: 0;
}
.del::before {
  width: 100%;
  height: 2px;
  position: absolute;
  content: "";
  bottom: 8px;
  left: 0;
  background-color: #2D2D2D;
}
.product-bottom {
  display: flex;
  margin-top: 30px;
}
.button-container {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 1;
  border-radius: 30px;
  background: #F7F8FA;
  width: 110px;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
 align-items: center;
}
.price {
  position: relative;
}



.product__text {
  width: 272px;
  height: 63px;
}

.product__text > p {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #2D2D2D;
}



/*footer*/

footer {
  width: 100%;
  height: 267px;
  background: #F7F7F7;
  display: flex;
  align-items: center;


}

.footer-wrapper {
  width: 1249px;
  height: 201px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer__box {
  position: relative;
  width: 923px;
  height: 192px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;

  align-items: flex-end;
}

.footer-about {
  width: 307px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.footer__logo {
  width: 131px;
  height: 67px;
  display: flex;
  flex-direction: column;
}

.footer__about-text {
  width: 307px;
  height: 54px;
  font-size: 14px;
  line-height: 18px;
  color: rgba(45, 45, 45, 0.6);
}

.footer__about-messegers {
  width: 233px;
  height: 45px;
  margin-top: 16px;
}

.footer__about-messegers > ul > li {
  width: 45px;
  height: 45px;
  
}


.footer__about-messegers > ul {
  display: flex;
}

.footer-link {
  width: 490px;
  height: 145px;
  display: flex;
  justify-content: space-between;
}


.footer-link__firstLinks > ul {
  width: 133px;
  height: 87px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #2D2D2D;
}

.footer-link__secondLinks > ul {
  width: 142px;
  height: 145px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #2D2D2D;
}

.footer-link__secondLinks-font {
  font-weight: normal;
}

.footer-link > div > ul > li > a {
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  color: #2D2D2D;
}

.footer--contacts {
  position: relative;
  width: 185px;
  height: 152px;

}

.footer--contacts__number > ul {
  display: flex;
  flex-direction: column;
}

.footer--contacts__number > ul > li > a {
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.footer--contacts {
  display: flex;
  flex-direction: column;
  width: 185px;
  height: 152px;
  justify-content: space-around;
  margin-top: 84px;
}

.footer--contacts__number {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.mail-img {
  display: flex;
  align-items: center;
}

.mail-img__mail {
  margin-left: 12.09px;
}

.mail-img__mail > a {
  text-decoration: none;
  font-size: 16px;
  line-height: 34px;
  color: #2D2D2D;
}

.footer--contacts__messegers > ul {
  display: flex;
}


.footer--contacts__messegers {
  width: 100%;
  height: 23.99px;
  display: flex;
  margin-top: 6px;
  justify-content: flex-start
}


.footer--contacts__number-messegers {
  margin-right: 18px;
  
}


@media (max-width: 1200px) and (min-width: 768px){
  
  .footer{
    height: 262px;
  }

.footer-wrapper{
  max-width: 626px;
  min-height: 204px;
  justify-content: space-between;
  margin-right: 108px;
}

  .footer__box{
    max-width: 307px;
    height: 201px;
  }
  
  .footer-link{
    display: none;
  }

}

/*calculator*/

/*calculator*/

.calculator {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator-wrapper {
  max-width: 1150px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.calculator-wrapper__text {
  width: 624px;
  height: 175px;
}

.calculator-wrapper__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.text-bold {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #2D2D2D;
}

.text-item {
  text-align: center;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #2D2D2D;
  opacity: 0.7;
}

.text-button {
  font-family: Roboto;
  border: 0;
  font-style: normal;
  width: 170px;
  height: 44px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background: linear-gradient(115.84deg, #E32A23 15.89%, #FF7100 83.68%), #F7F8FA;
  border-radius: 50px;
}

@media (max-width: 1200px) and (min-width: 768px){
  .calculator-wrapper{
    max-width: 624px;
    height: 175px;
  }

  .calculator-wrapper__scales{
    display: none;
  }
}

/*category*/
.category {
  width: 100%;
  height: 1233px;
  background: url(/img/backCategory.png);
  display: flex;
  align-items: center;
  justify-content: center;
}

.category-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.all-category {
  width: 1029px;
  height: 992px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100%;
}

.category-button {
  width: 210px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category-button > button {
  border: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(115.84deg, #E32A23 15.89%, #FF7100 83.68%), #F7F8FA;
  border-radius: 50px;
}

.category-button > button > a {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  font-family: 'Roboto';
}


/*all-category  31*/

.all-category > ul > li {
  height: 35px;
}

.light {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.electro {
  height: 653px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.light-chapter {
  height: 30px !important;
  margin-bottom: 45px;
}

.electro-chapter {
  height: 30px !important;
  margin-bottom: 45px;
}

.light-chapter__text {
  font-family: Mistral;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  /* identical to box height */

  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #E32A23;
}

.electro-chapter__text {
  font-family: Mistral;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  /* identical to box height */

  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #E32A23;
}

/*electro*/
.tov {
  border: 1px solid white;
}

.link-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
}


.light > li > a {
  display: flex;
  align-items: center;
}

.electro > li > a {
  display: flex;
  align-items: center;
}

.electro > li {
  padding-left: 167px;
}


/*about era*/


.about-era {
  width: 100%;
  height: 525px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-container {
  width: 1318px;
  height: 380px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-foto {
  width: 622px;
  height: 100%;
  background: url(/img/aboutFoto.svg);
}

.container-text {
  width: 631px;
  height: 213px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-text > h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  /* identical to box height */
  color: #2D2D2D;
}

.container-text > p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #2D2D2D;
  opacity: 0.7;
}

@media (max-width: 1200px) and (min-width: 768px){
  .container-foto{
    display: none;
  }
  .about-container{
    max-width: 700px;
  }
}



/*chapter blog*/


.chapter__end-blog {
  margin-bottom: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}



.chapter-end-blog__text > p {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  color: #2D2D2D;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.chapter__end-blog::before {
  content: '';
  opacity: 0.7;
  border: 1px solid #FF0000;
  width: 290px;
  height: 0px;

}

.chapter__end-blog::after {
  content: '';
  opacity: 0.7;
  border: 1px solid #FF0000;
  width: 70%;
  height: 0px;
}

.chapter-end-blog__text {
  margin-right: 10px;
  margin-left: 10px;
}

/*end-in-blog*/

.end-in-blog {
  width: 100%;
  height: 484px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.end-in-blog__container {
  height: 374px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.end-blog__cards > div {
  width: 100%;
  height: 100%;

  background: #FFFFFF;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}

.end-blog__cards {
  max-width: 1320px;
  width: 100%;
  height: 280px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

.card__link > a {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-decoration-line: underline;
  color: #2D2D2D;
}

.card__link {
  margin: 23px 48px 26px 13px;
  
  width: 100%;
}



@media (max-width: 1200px) and (min-width: 768px){

  .card__link{
    margin: 6.28px 9.45px 5.97px 10px;
  }
  
  .end-blog__cards > div {
    height: 225px;
  }
  .end-in-blog__container{
    height: 319px;
  }

  .end-blog__cards{
    grid-template-columns: 1fr 1fr;
    height: 225px;
    width: 700px  ;
  }
  .card-third {
    display: none;
  }
}










/**/


